:host {
  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .content {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .selected-icon {
      width: 14px;
    }
  }
}
