.input-container {
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .input-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid var(--clr-surface-tonal-a20);
    padding: 0.5rem 1rem;
    padding-right: 0rem;
    border-radius: 6px;
    max-height: 32px;

    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);

    &:has(input:focus-visible) {
      outline: 0.15rem solid;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }

    input {
      border: none;
      outline: none;
      width: 100%;

      &::placeholder {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
