<div class="input-container">
  @if (label.length > 0) {
  <label [for]="formattedLabel()">{{ label }}</label>
  }

  <div class="input-wrapper">
    <input [id]="formattedLabel()" type="{{ inputType() }}" [placeholder]="placeholder" />
    @if (icon.length) {
    <ion-icon [name]="icon" aria-hidden="true"></ion-icon>
    } @else if (type === "password") {
    <app-button [type]="'button'" [style]="'ghost'" (click)="changeInputVisibility()">
      <ion-icon
        [name]="showPassword() ? 'eye-off-outline' : 'eye-outline'"
        [attr.aria-label]="showPassword() ? 'hidden' : 'show'"
      ></ion-icon>
    </app-button>
    }
  </div>
</div>
