:host {
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
  }

  .input-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid var(--clr-surface-a20, #ccc);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    height: 36px;

    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);

    &:has(ion-icon) {
      padding-right: 0rem;
    }

    &:has(input:focus-visible) {
      outline: 0.15rem solid;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }

    input {
      border: none;
      outline: none;
      width: 100%;

      &::placeholder {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    &.invalid {
      border: 1px solid var(--clr-danger-a0);

      input {
        color: var(--clr-danger-a0);

        &::placeholder {
          color: var(--clr-danger-a0);
        }
      }

      ion-icon {
        color: var(--clr-danger-a0);
      }
    }

    .icon {
      font-size: 1.8rem;
      padding: 0.7rem 0.8rem;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .strength-indicators {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0 0.4rem;

    span {
      flex-grow: 1;
      height: 7px;
      border: 1px solid var(--clr-surface-tonal-a20);

      border-radius: 5px;
      position: relative;

      &:last-of-type::after {
        content: var(--strength-indicator, 'weak');
        position: absolute;
        top: 5px;
        right: 0;
        font-size: 1rem;
        font-weight: 400;
      }

      &::before {
        content: '';
        background-color: #000;
        border-radius: 2px;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        transition: width 0.3s;
      }
    }

    &.weak {
      span.first::before {
        width: 100%;
      }

      span::before {
        background-color: var(--clr-danger-a20);
      }

      span:last-of-type::after {
        color: var(--clr-danger-a0);
      }
    }

    &.medium {
      span.first::before,
      span.second::before {
        width: 100%;
      }

      span::before {
        background-color: var(--clr-warning-a20);
      }

      span:last-of-type::after {
        color: var(--clr-warning-a0);
      }
    }

    &.good {
      span.first::before,
      span.second::before,
      span.third::before {
        width: 100%;
      }

      span::before {
        background-color: var(--clr-success-a20);
      }

      span:last-of-type::after {
        color: var(--clr-success-a0);
      }
    }

    &.strong {
      span.first::before,
      span.second::before,
      span.third::before,
      span.fourth::before {
        width: 100%;
      }

      span::before {
        background-color: var(--clr-success-a20);
      }

      span:last-of-type::after {
        color: var(--clr-success-a0);
      }
    }
  }

  .errors {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .error {
      color: var(--clr-danger-a0);
      font-size: 1.2rem;

      &:first-of-type {
        margin-top: 0.5rem;
      }
    }
  }
}
