<form [formGroup]="form" (ngSubmit)="onSubmit()" [class]="direction">
  <div class="fields" [class]="direction">
    @for (item of fields; track item.id) {
    <app-input
      [formControlName]="item.id"
      [label]="item.label"
      [type]="item.type"
      [placeholder]="item.placeholder"
      [validateValueStrength]="item.strengthValidator"
      [invalid]="form.get(item.id)?.invalid ?? true"
      [touched]="form.get(item.id)?.touched ?? false"
      [dirty]="form.get(item.id)?.dirty ?? false"
      [errors]="form.get(item.id)?.errors ?? {}"
    />
    }
  </div>

  <ng-content select=".submit">
    <app-button
      [type]="'submit'"
      [style]="'normal'"
      [size]="'lg'"
      [disabled]="form.invalid"
      [full]="direction === 'column'"
      >Submit</app-button
    >
  </ng-content>
</form>
